# Firebase Configuration
VITE_apiKey=your_firebase_api_key
VITE_authDomain=your_firebase_auth_domain
VITE_projectId=your_firebase_project_id
VITE_storageBucket=your_firebase_storage_bucket
VITE_messagingSenderId=your_firebase_messaging_sender_id
VITE_appId=your_firebase_app_id

# Backend Server API URL
VITE_API_URL=https://collaborative-study-server-az9x.vercel.app

# Stripe Publishable Key
VITE_PAYMENT=your_stripe_publishable_key

# ImgBB API Key (For Image Uploads)
VITE_IMGBB_KEY=your_imgbb_api_key
